In [1]:
# Import dependencies and setup

import pandas as pd
from bs4 import BeautifulSoup as soup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Determine path to Chrome Driver & Initialise browser

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
There is no [mac64] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_mac64.zip
Driver has been saved in cache [/Users/minoperic/.wdm/drivers/chromedriver/mac64/99.0.4844.51]

In [3]:
# Set page to visit

url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
# Use BeautifulSoup to write html

html = browser.html
news_soup = soup(html, 'html.parser')

slide_element = news_soup.select_one('div.list_text')
slide_element.find('div', class_='content_title')

In [6]:
# Use element to locate first tag and save

news_title = slide_element.find('div', class_='content_title').get_text()
news_title

'Mars Is Getting a New Robotic Meteorologist'

In [7]:
# Use element to find paragraph text

news_para = slide_element.find('div', class_='article_teaser_body').get_text()
news_para

"Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles."

In [8]:
# Mars image

url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Locate full-size image and click

full_image_element = browser.find_by_tag('button')[1]
full_image_element.click()

In [12]:
# Parse html via Beautiful Soup

html = browser.html
image_soup = soup(html, 'html.parser')

In [13]:
# Locate image url

image_url_rel = image_soup.find('img', class_='fancybox-image').get('src')
image_url_rel

'image/featured/mars1.jpg'

In [14]:
# Use base url to create an absolute url

image_url = f'https://spaceimages-mars.com/{image_url_rel}'
image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [15]:
# Use 'html pd.read' to retrieve data from 'Mars/Earth' section

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [16]:
# Rearrange and re-format

df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [17]:
# Convert DataFrame to HTML

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
# Locate Hemispheres information

url = 'https://marshemispheres.com/'
browser.visit(url)

In [21]:
# Create a list to hold images and titles.

hemisphere_image_urls = []

# Get a list of all hemispheres

links = browser.find_by_css('a.product-item img')

# Create a loop through all links, click and find anchor/return href
for i in range(len(links)):
    hemisphere = {}
    
    # Locate elements for each loop to avoid stale element exception
    browser.find_by_css('a.product-item img')[i].click()
    
    # Locate sample image anchor tag and extract the href
    sample_element = browser.links.find_by_text('Sample').first
    hemisphere['image_url'] = sample_element['href']
    
    # Obtain hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)
    
    # Go back in broswer
    browser.back()
 
 # Preview hemisphere urls
hemisphere_image_urls

[{'image_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [22]:
# Close browser

browser.quit()